.v-dream__mail-request {
  z-index: 4;
  position: fixed;
  bottom: 52px;
  width: 100%;
  padding: 0;
  margin-left: -15px;
  background-color: #f4f7fa;
  h2
    padding-bottom: 20px;
    color: #000;  
}

.v-dream__mail-form{
  padding-bottom: 30px
}

.v-dream__mail-input {
  background-color: #fff;
  max-width: 100%;
  height: 40px;
}
