@import "~utils/base/base";

.TopHeader {
  background: darken(@gray-soft, 8%);
  width: 100%;

  &__button {
    .css-utils-clean-btn();
    background: #F4F7FA;
    height: 20px;
    margin: @pad 0;
    width: 20px;

    a {
      font-size: 0.6em;
      display: block;
      &:hover { text-decoration: none; }
    }

    & + & {
      margin-left: @pad / 2;
    }

    &:hover {
      background: darken(#F4F7FA, 2%);
    }
  }

  &__contact {
    font-size: 0.7em;
    font-weight: 500;
  }

  &__phone-cta {
    float: right;
    padding: 10px;
  }

  &__login {
    float: right;
    padding: 10px;
  }

  &__login-link {
    color: darken(@gray-soft, 68%);
    text-transform: uppercase;

    &:hover {
      color: darken(@gray-soft, 48%);
    }
  }

  &__phone-number {
    font-weight: 500;
  }

  &__phone-url {
      color: darken(@gray-soft, 68%);
      &:hover {
        color: darken(@gray-soft, 48%);

        @media (min-width: @screen-md-min) {
          color: darken(@gray-soft, 68%);
          cursor: default;
          text-decoration: none;
        }
      }
  }

}
