@import "~utils/base/base";

.HeaderCart {
  float: left;

  //Mobile
  @media (max-width: @screen-xs-max) {
    padding-top: @pad * 1.5;
    padding-right: @pad * 2;
    float: right;
  }

  &:hover {
    cursor: pointer;
  }

  &__inner {
    //Desktop + Tablet
    @media (min-width: @screen-xs-max) {
      border: 2px solid lighten(#153243, 20%);
      border-radius: @pad / 2;
      padding: @pad (@pad * 1.5);
    }

    &:hover {
      background: lighten(#153243, 60%);
    }

    a {
      &:hover {
        text-decoration: none;
      }
    }
  }

  &__itens {
    &:hover {
      text-decoration: none;
    }

    color: #153243;
    font-weight: 700;
    padding-right: @pad / 2;
  }

  &__svg {
    float: left;

    //Desktop + Tablet + Smaller Tablet
    @media (min-width: @screen-sm-min) {
      float: right;
    }
  }
}
