@import "~utils/base/base";

.HeaderSearch {
  .css-utils-clean-btn();
  .css-utils-no-outlines();
  float: right;
  padding-left: 0px;

  &:hover {
    cursor: pointer;
  }

  //Mobile Only
  @media (max-width: @screen-xs-max) {
    float: right;
  }

  &__button {
    border: 2px solid #153243;
    border-radius: 2.5px;
    margin-top: 2px;
    height: 35.5px;

    @media (min-width: @screen-sm-max) {
      max-width: 36px;
    }

    @media (min-width: @screen-sm-min) {
      height: 40.6px;
      max-width: 40px;
      margin-top: 0px;
    }
  }

  &__svg {
    padding: 6px @pad 4px 8px;

    @media (min-width: @screen-sm-min) {
      padding: 9px @pad 4px 10px;
    }
  }
}
