@import "~utils/base/base";

.Product {

  &__title {
    margin-top:   0px;
    margin-bottom: 15px;
    font-size: 2.5em;
    font-style: normal;
    font-weight:700;
    text-align: left;
  }

  &__price {
    font-weight: 900;
    color: #75CCB1;
  }

  &__shipping-wrapper {
    margin-top: 1em;
  }
}
