.v-dream__selector-section--highlight {
  .v-dream__selector-section;
  background-color: #D5F3FD;
  transition: background-color 0.2s;
}

.v-dream__selector-section__alert-text {
  font-weight: 500;
  font-style: italic;
  text-align: center;
  margin-top: 1.2em;
  margin-bottom: 0.5em;
}

.v-dream__selector-btn {
  background-color: #FFF;
  border: 2px solid #153243;
  border-radius: 50%;
  color: #153243;
  font-weight: 500;
  margin-top: 10px;
  margin-right: 10px;
  height: 40px;
  padding: 0px;
  width: 40px;
}

.v-dream__selector-btn[data-is-active='true'] {
  .v-clean-btn;
  .v-no-outlines;
  .v-unselectable;
  background-color: #153243;
  border: 2px solid #153243;
  border-radius: 50%;
  color: #fff;
  font-weight: 500;
  margin-top: 10px;
  margin-right: 10px;
  height: 40px;
  padding: 0px;
  width: 40px;
}

.v-dream__selector-btn[data-is-available='0'] {
  .v-dream__selector-btn;
  border: 2px solid darken(#fff, 40%);
  color: darken(#fff, 40%);
  //background-color: darken(#fff, 5%);
}

.v-dream__selector-img {
  width: 50px;
  margin-top: 5px;
  padding: 0px;
}

.v-dream__selector-img[data-is-available='0'] {
  .v-dream__selector-img;
  opacity: 0.3;
}

.v-dream__selector-img[data-is-active='true'] {
  .v-dream__selector-img;
  border: 2px solid #153243;
}

.v-dream__selector-section {
  margin-top: 1.5em;
  padding: 0.75em 0em;
  transition: background-color 0.2s;
}

.v-dream__selector-row {
   & + & {
    margin-top: 0.75em;
  }
}

.v-dream__selector__title {
  font-size: 18px;
  font-style: italic;
  color: #153243;
}

.v-dream__color-selector {
  .v-clean-btn;
  .v-no-outlines;
  .v-unselectable;
  border: 2px solid #153243;
  border-radius: 50%;
  margin-top: 10px;
  margin-right: 10px;
  padding: 0px;
  height: 40px;
  width: 40px;
  transition: box-shadow 0.25s;

  &:nth-child(1) {
    background-color: #153243;
  }

  &:nth-child(2) {
    background-color: #fff;
  }

  &:nth-child(3) {
    background-color: #000;
  }
}

.v-dream__color-selector--active {
  .v-dream__color-selector;
  box-shadow: inset 0px 0px 0px 8px darken(#fff, 10%);
  transition: box-shadow 0.25s, border-color 0.25s;
}

.v-dream__color-selector--unavailable {
  .v-dream__color-selector;
  border: 2px solid darken(#fff, 40%);
  color: darken(#fff, 40%);
  //background-color: darken(#fff, 5%);
}

.v-dream__selector-section__alert-text {
  font-weight: 500;
  font-style: italic;
  text-align: center;
  margin-top: 1.2em;
  margin-bottom: 0.5em;
  padding: 0px;
}

.v-dream__checkout-button--active {
  box-shadow: none;
  margin: 2px 0px -2px 2px;
  //transition: margin 0.1s;
}
