@import "~utils/base/base";

.AddToCartButton {
  .css-utils-clean-btn();
  .css-utils-no-outlines();
  .css-utils-unselectable();

  background: #75CCB1;
  box-shadow: 0px 3px 0px 0px darken(#75CCB1, 8%);
  border-radius: 3.5px;
  display: block;
  outline: none;
  padding: 12.5px;
  width: 100%;

  @media (min-width: @screen-md-min) {
    margin-bottom: 15px;

    &:active {
      margin-bottom: 13px;
    }
  }

  a {
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-family: @display-font;
    font-size: 1.25em;
    font-weight: 500;
  }

  &:active {
    box-shadow: none !important;
    margin-top: 2px;
  }
}

.AddToCartButton--fixed {
  .AddToCartButton;

  @media (max-width: @screen-sm-max) {
    bottom: 0px;
    border-radius: 0px;
    border-top: 3px solid lighten(#75CCB1, 14%);
    display: block;
    left: 0px;
    position: fixed;
    z-index: @zindex-5;

    &:active {
      border-top: 1px solid lighten(#75CCB1, 14%);
      color: darken(#FFF, 8%);
      margin: 0px;
    }
  }
}
