@import '~utils/base';

.AddToCartButton {
  .v-clean-btn;
  .v-no-outlines;
  .v-unselectable;

  background: #75CCB1;
  box-shadow: 2px 2px 0px 0px darken(#75CCB1, 8%);
  color: #fff;
  display: block;
  font-family: 'Lato', 'Helvetica Neue', sans-serif;
  font-size: 1.35em;
  font-weight: 500;
  margin-top: 0.8em;
  padding: 12.5px;
  width: 100%;

  &:active {
    box-shadow: none;
    margin: 2px 0px -2px 2px;
  }
}

.AddToCartButton--fixed {
  .v-clean-btn;
  .v-no-outlines;
  .v-unselectable;

  background: #75CCB1;
  bottom:0px;
  display: block;
  color: #fff;
  font-family: 'Lato', 'Helvetica Neue', sans-serif;
  font-size: 1.35em;
  font-weight: 500;
  left: 0px;
  padding: 12.5px;
  position: fixed;
  width: 100%;
  z-index: 5;

  &:active {
    box-shadow: none;
    margin: 2px 0px -2px 2px;
  }
}
