@import "~utils/base/base";

.Header {
  background: @gray-soft;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px -1px 0px 1px rgba(0,0,0,0.1);
  position: static;
  top: 0;
  //height: 75px;
  width: 100%;
  z-index: @zindex-2;

  &__inner {
    padding: (@pad * 2.3) 0;

    @media (min-width: @screen-md-min) {
      padding: (@pad * 3) (@pad * 2);
    }
  }

  &__brand {
    font-size: 19px;
    font-style: italic;
    font-weight: 400;
    position: relative;
    margin: 0;

    @media (min-width: @screen-md-min) {
      float: left;
      text-align: left;
    }
  }

  &__icon {
    padding-top: 2px;
  }
}
