@import "~utils/base/base";

.Header {
  background: white;
  border-bottom: 0;
  box-shadow: 0px -1px 0px 1px rgba(0,0,0,0.1);
  position: static;
  top: 0;
  width: 100%;
  z-index: @zindex-2;
  hr {
    height: 2px;
    width: 90%;
    margin-top: 10px;
    margin-bottom: 0;
  }

  &__inner {
    .theme-width();
    padding: 0;
    background-color: rgba(0, 0, 0, 0.05);
    margin-bottom: 15px;

    //Fix for medium screens only
    @media (min-width: @screen-sm-min) and (max-width: @screen-lg-min) {
      padding: (@pad * 2.3) 0px;
    }
  }

  .logo-image {
    text-align: center;
  }
}
