@import "~utils/base/base";

.Header {
  background-color: white;
  position: static;
  top: 0;
  width: 100%;
  z-index: @zindex-2;

  hr {
    border: 1px solid darken(#F3F3F3, 10%);
    width: 90%;
    margin-top: 0px;
    margin-bottom: 10px;
  }

  &__inner {
    .theme-width();
    padding: 0;
    position: relative;

    @media (min-width: @screen-sm-min) and (max-width: @screen-lg-min) {
      padding: 8px 0;
    }
  }

  &__menu {
    background-color: rgba(0, 0, 0, 0.1);
    width: 100%;
  }

  &__menu-inner {
    .theme-width();
  }
}
