@import "~utils/base/base";

.Footer {
  background-color: @secondary-bg;

  &__payments-flags {
    padding: 0;

    @media (max-width: @screen-xs-max) {
      padding-top: 10px;
    }

    .payment-icon {
      background: url(../../assets/images/icone-pagamento.png);
    }

    li {
      margin-right: 10px;
      float: left;
      list-style-type: none;

      .amex {
        background-position: -100px 0;
      }

      .diners {
        background-position: -150px 0;
      }

      .elo {
        background-position: -200px 0;
      }

      .hipercard {
        background-position: -350px 0;
      }

      .mastercard {
        background-position: -50px 0;
      }

      .visa {
        background-position: 0 0;
      }

      .boleto {
        background-position: 0 -83px;
      }

      .banco-do-brasil {
        background-position: -50px -39px;
      }

      .banco-itau {
        background-position: -250px -39px;
      }

      .bradesco {
        background-position: 0 -39px;
      }
    }

    i {
      width: 35px;
      height: 22px;
      display: inline-block;
    }
  }

  &__links_title {
    opacity: 0.6;
    color: black;
    font-weight: bold;
  }

  &__wrap {
    .theme-width();
    margin-left: 10%;
  }

  &__links {
    float: left;

    @media (max-width: @screen-sm-max) {
      padding-left: 15px;
      padding-right: 15px;
      width: 100%;
    }
  }

  &__menu {
    .css-utils-clean-list();
    padding-top: @pad * 2;

    @media (max-width: @screen-sm-max) {
      padding-top: 5px;
    }

    @media (max-width: @screen-xs-max) {
      padding-top: 10px;
    }

    li {
      a {
        color: @secondary-color;
        text-transform: uppercase;
        font-weight: bold;
        text-decoration: underline;
      }
    }
  }

  .institucional {
    @media (max-width: @screen-sm-max) {
      opacity: 0.6;
    }
  }

  &__item {
    font-size: 25px;
    font-weight: 600;
    line-height: 16px;
    color: #fff;
    margin: 0 0 @pad * 2;
  }

  &__menu-link {
    color: #fff;

    &:hover {
      text-decoration: none;
      color: lighten(@tertiary-color-dark, 30%);
    }
  }

  &__address {
    color: @secondary-color;
    display: block;
    font-family: 'Lato', 'Helvetica Neue', 'Helvetica', sans-serif;
    font-size: 11px;
    margin-bottom: 1em;
    padding-top: 15px;
    width: 100%;
    text-align: center;
  }

  &__contacts {
    padding-left: 0;
    font-weight: bold;
    font-family: 'Lato', 'Helvetica Neue', 'Helvetica', sans-serif;
    color: @secondary-color;
  }

  &__social-icons {
    float: right;
    padding-top: @pad * 2;
    margin-bottom: 0;
    padding-bottom: 0;

    @media (max-width: @screen-md-max) {
      float: left;
    }
  }

  &__button {
    .css-utils-clean-btn();
    margin-bottom: @pad / 2;

    svg:hover {
      fill: lighten(@tertiary-color-dark, 30%);
    }

    @media (min-width: @screen-md-min) {
      display: list-item;
    }

    @media (max-width: @screen-sm-max) {
      display: inline-block;

      & + & {
        margin-left: 7.5px;
      }
    }
  }
}
