@import "~utils/base/base";

.Footer {
  background-color: #153243;

  &__menu {
    .css-utils-clean-list();
    padding-top: 20px;
  }

  &__item {
    font-size: 25px;
    font-weight: 600;
    line-height: 16px;
    color: #fff;
    margin: 0 0 @pad * 2;
  }

  &__menu-link {
    color: #fff;
  }

  &__address {
    color: #fff;
    display: block;
    padding-top: 15px;
    font-family: 'Lato', 'Helvetica Neue', 'Helvetica', sans-serif;
    font-size: 12px;
    margin-bottom: 1em;
  }

  &__social-icons {
    padding-top: 20px;
  }

  &__icon {
    margin-bottom: @pad / 2;
  }
}
