@import "~utils/base/base";

.CategoryHeader {
  background: #F7F7F7;

  &__icon {
    float: left;
    display: inline-block;
    padding-top: 9.5px;
  }

  &__grid-button {
    .css-utils-clean-btn();
    .css-utils-no-outlines();
    background: darken(#F7F7F7, 10%);
    border-radius: 2px;
    padding-left: 7.5px;
    padding-right: 7.3px;
    margin-left: 10px;
    height: 35.5px;
    float: left;
  }

  &__container {
    .theme-width();
    padding-top: 15px;
    padding-bottom: 15px;
  }

  &__content {
    margin-bottom: 1em;
  }

  &__title {
    padding: 0px (@pad * 2);
  }

  &__title-inner {
    float: left;
    font-family: 'Lato';
    font-weight: 200;
    margin-top: 0px;
    margin-bottom: @pad / 2;
    max-width: 80%;
    padding: 0px;
    text-align: left;
  }

  &__buttons {
    margin-top: 0.75em;
    padding: 0px (@pad * 2);
  }

  &__results {
    color: #777777;
    display: block;
    font-family: 'Lato';
    font-weight: 400;
  }
}
