@import "includes/body";

body {
  padding: 0;
}
h2 {
  font-family: 'petala-pro';
  font-size: 27px;
  font-style: italic;
  font-weight: 400;
  color: #153243;
  text-align: center;
}
p {
  font-family: 'petala-pro';
  font-size: 16px;
  font-weight: 300;
  color: #153243;
}
.header {
  width: 100%;
  height: 30px;
  margin-top: 10px;
}
.header-brand {
  position: relative;
  margin: 0;
  font-family: 'petala-pro';
  font-size: 19px;
  font-style: italic;
  font-weight: 100;
  text-align: center;
}
.menu-icon {
  max-width: 20px;
}
.search-icon {
  height: 17px;
}
.cart-icon {
  height: 20px;
}
.banner {
  max-width: 100%;
}
.banner-image {
  max-width: 100%;
}
.featured-product {
  margin-top: 30px;
}
.featured-product-photo {
  width: 167px;
  height: 235px;
}
.arrow {
  position: relative;
  padding-top: 110px;
}
.product-title {
  padding-top: 5px;
  margin: 0;
}
.product-price {
  font-size: 14px;
  font-weight: 600;
  color: #75CCB1;
}
.btn {
  width: 167px;
  height: 35px;
  margin-bottom: 30px;
  background-color: #75CCB1;
  border: none;
  border-radius: 9px;
  p {
    font-size: 15px;
    font-weight: 600;
    color: #fff;
  }
}
.promotion-product {
  margin-top: 20px;
}
.promotion-product-photo {
  width: 167px;
  height: 235px;
}
.promotion-arrow {
  position: relative;
  padding-top: 110px;
}
