@import "theme-variables.less";

.theme {

// ==========  Layout 		==========

.theme__width {
  //All Screens Except Mobile
  @media (min-width: 992px) {
    max-width: @desktop-width;
    margin: 0 auto;
  }

  max-width: @mobile-width;
  margin: 0 auto;
}

// ==========  Typography 		==========

  .theme__font-family--main {
    font-family: @display-font !important;
  }

  .theme__font-family--regular {
    font-family: @text-font !important;
  }

// ==========  Font Colors 		==========

  .theme__color--main, .theme__color--primary {
    color: @primary-color !important;
  }

  .theme__color--secondary {
    color: @secondary-color !important;
  }

  .theme__color--third {
    color: @third-color !important;
  }

  .theme__color--black {
    color: @dark-color !important;
  }

  .theme__color--white {
    color: @light-color !important;
  }

  // ==========  Link Hover Colors 		==========

    .theme__hover-color--primary, .theme__hover-color--main {

      &:hover {
        color: darken(@primary-color, 15%) !important;
        text-decoration: none;
        cursor: pointer;
      }
    }

    .theme__hover-color--secondary {

      &:hover {
        color: darken(@secondary-color, 15%) !important;
        text-decoration: none;
        cursor: pointer;
      }
    }

    .theme__hover-color--third {

      &:hover {
        color: darken(@third-color, 15%) !important;
        text-decoration: none;
        cursor: pointer;
      }
    }

    .theme__hover-color--black {

      &:hover {
        color: darken(@dark-color, 15%) !important;
        text-decoration: none;
        cursor: pointer;
      }
    }

    .theme__hover-color--white {

      &:hover {
        color: darken(@light-color, 15%) !important;
        text-decoration: none;
        cursor: pointer;
      }
    }

  // ==========  BG Colors 		==========

  .theme__background-color--main {
    background: @third-color !important;
  }

  .theme__background-color--secondary {
    background: @secondary-color !important;
  }

  .theme__background-color--third {
    background: @primary-color !important;
  }

  .theme__background-color--black {
    background: @dark-color !important;
  }

  .theme__background-color--white {
    background: @light-color !important;
  }

  // ==========  Border Colors 		==========

  .theme__border-color--main {
    border-color: @third-color !important;
  }

  .theme__border-color--secondary {
    border-color: @secondary-color !important;
  }

  .theme__border-color--third {
    border-color: @primary-color !important;
  }

  .theme__border-color--black {
    border-color: @dark-color !important;
  }

  .theme__border-color--white {
    border-color: @light-color !important;
  }

}
