@import "theme-variables.less";

.theme {

// ==========  Typography 		==========

  .theme__font-family--main {
    font-family: @modally-main !important;
  }

  .theme__font-family--regular {
    font-family: @modally-regular !important;
  }

// ==========  Font Colors 		==========

  .theme__color--main {
    color: @blue-modally !important;
  }

  .theme__color--secondary {
    color: @green-modally !important;
  }

  .theme__color--third {
    color: @pink-modally !important;
  }

  .theme__color--black {
    color: @black-modally !important;
  }

  .theme__color--white {
    color: @white-modally !important;
  }

  // ==========  BG Colors 		==========

  .theme__background-color--main {
    background: @blue-modally !important;
  }

  .theme__background-color--secondary {
    background: @green-modally !important;
  }

  .theme__background-color--third {
    background: @pink-modally !important;
  }

  .theme__background-color--black {
    background: @black-modally !important;
  }

  .theme__background-color--white {
    background: @white-modally !important;
  }

  // ==========  Border Colors 		==========

  .theme__border-color--main {
    border-color: @blue-modally !important;
  }

  .theme__border-color--secondary {
    border-color: @green-modally !important;
  }

  .theme__border-color--third {
    border-color: @pink-modally !important;
  }

  .theme__border-color--black {
    border-color: @black-modally !important;
  }

  .theme__border-color--white {
    border-color: @white-modally !important;
  }

}
